.header {
  height: 10vh;
  background: rgb(211, 38, 7);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.a {
  padding: 1rem;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 600;
  text-decoration: none;
  color: white;
  transform: 200ms ease-in-out;
}
.a:hover {
  transition: scale(1.1);
  font-size: 1.3rem;
  font-weight: bold;
  text-decoration: underline;
}
